# See http://help.github.com/ignore-files/ for more about ignoring files.



# compiled output
dist
tmp
/out-tsc

# dependencies
node_modules

# environment
*/.env
.scripts
.env
.data
.mysql
live.env
*/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

# NX
/.nx/cache
/apollo

# Next.js
.next
out

# Terraform

# Local .terraform directories
**/.terraform/*

# Terraform lockfile
.terraform.lock.hcl

# .tfstate files
**/*.tfstate
**/*.tfstate.*
*.auto.tfvars
*tfplan*
.aider*

minio/**
